
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/


ExportedObj/
.vs/
.gradle/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boop
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


*.apk
*.aab
*.unitypackage
*.app


*.fbx
*.obj
*.max
*.blend
*.dae
*.mb
*.ma

*.psd
*.tif
*.tiff
*.tga
*.png
*.jpg
*.jpeg
*.exr
*.bmp


*.mp3
*.wav
*.ogg
*.mp4
*.mov
*.avi





